name: Tenant Security Client NodeJS CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # our minimum supported node version is 14 according to `npx ls-engines`, so we'd like to keep testing on it.
        # If ci fails due to a needed new feature or we are forced to update the MSNV for any other reason, make sure
        # to major version bump the library
        version: [14, 16, 18, 20]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.version }}
      - name: build and unit test
        run: yarn && yarn build
      - name: Save TSP env.integration to a file
        run: |
          cat > .env.integration <<EOF
          ${{ secrets.TSP_ENV_INTEGRATION }}
          EOF
      - name: Start the TSP
        uses: IronCoreLabs/workflows/.github/actions/start-tsp@start-tsp-v1
        with:
          gcloud-auth: ${{ secrets.GCLOUD_AUTH }}
          env-file-path: .env.integration
      - name: integration test
        run: env $(cat .env.integration) yarn integration

  build_examples:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        example-dir:
          [
            large-documents,
            logging-example,
            rekey-example,
            simple-roundtrip,
            deterministic-roundtrip,
          ]
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 14
      - name: compilation check
        run: |
          yarn
          yarn tsc --target ES6 --sourceMap false --module CommonJS --outDir ./dist/src src/index.ts
        working-directory: ./examples/${{ matrix.example-dir }}
